.header {
	background: $purp_base;
	height: 50px;

	&__popover {
		background: $purp_base;
		padding: 20px;
		&-top {
			display: flex;
			column-gap: 10px;
			align-items: center;
			padding: 8px 5px;
			border-radius: 10px;
			background: $purp_dark;
		}
		&-list {
			display: flex;
			flex-direction: column;
			row-gap: 7px;
			margin-top: 10px;
		}
		&-item {
			padding: 5px;
			display: flex;
			column-gap: 10px;
			align-items: center;
			svg {
				font-size: 20px;
			}
			&:not(:nth-child(3)):hover {
				cursor: pointer;
				background: $purp_dark;
			}
		}
	}
	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__left {
		display: flex;
		align-items: center;
		column-gap: 35px;
	}
	&__right {
		display: flex;
		align-items: center;
		column-gap: 20px;
	}
	&__search {
		position: relative;
		&-icon {
			position: absolute;
			top: 6px;
			left: 8px;
			font-size: 20px;
			cursor: pointer;
		}
		&-field {
			width: 230px;
			background: $purp_dark;
			border-radius: 8px;
			height: 32px;
			border: none;
			padding: 0 12px 0 34px;
		}
	}
	&__notif {
		font-size: 27px;
		cursor: pointer;
	}
	&__user {
		display: flex;
		align-items: center;
		column-gap: 4px;
		cursor: pointer;
		padding: 15px 10px;
		&:hover {
			background: #424242;
		}
		&-photo {
			border-radius: 50%;
			height: 32px;
			width: 32px;
		}
		&-icon {
			font-size: 20px;
		}
	}
}
