@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	outline: none;
	transition: 0.3s all;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	color: white;
}

body {
	background: #222222;
}

button,
input {
	cursor: pointer;
}

$blue: #0275b1;
$black: #0b0b0b;
$dark: #222222;
$red: #f5222d;
$yellow: #f7ff05;

$purp_lite: #c8c9da;
$purp_base: #4c5171;
$purp_dark: #2a2e3d;

@mixin text($fw, $lh, $fz, $col) {
	font-weight: $fw;
	@if $lh > 0 {
		line-height: $lh;
	}
	font-size: $fz;
	color: $col;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.content {
	padding: 20px 0 100px;
	display: flex;
	column-gap: 30px;
}

@import 'header';
@import 'switchLang';
@import 'register';
@import 'aside';
@import 'friends';
@import 'profile';
